body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: rgb(238, 50, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
    margin-bottom: 0;
}

.byMe {
  text-align: center;
  font-size: small;
  margin-top: 0;
}

#resetButton {
  width: 200px;
  margin-bottom: 20px;
  background-color: rgb(0, 0, 99);
  border: 2px solid cyan;
  border-radius: 8px;
  color: rgb(238, 50, 255);
  font-weight: bold;
}

#containerMain {
  display: flex;
  width: 600px;
  height: 600px;
  background-color: gray;
  justify-content: center;
  border-style: outset;
  border-width: 5px;
  border-color: cyan;
  border-radius: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: darkgray;
  flex: 1 1 0%;
}

.grid {
  flex: 1 1 0%;
}

.hover-grid {
  background-color: rgb(238, 50, 255);
}
